<div class='color'></div>

<main>
  <h1>Sun Dial</h1>

  <form action='/' method='post'>
      <h2>Please enter your zip</h2>
    <input type="text" id="zip" >
    <input type="submit" id="button">
  </form>

  <h2 id='uv'></h2>

</main>
