<div class='color'></div>

<main>
  <h1>Sun Dial</h1>

  <form action='/' method='post'>
      <h2>Please enter your zip</h2>
    <input type="text" id="zip" >
    <input type="submit" id="button">
  </form>


  <h2 id='uv'></h2>
    <p id = 'intro'>Enter your zip code and find out the current UV index, minutes to sun damage and the sun's position overhead</p>
    <div id='uv-info'>
      <span class='uv-levels-header'>Minutes to<br> sun damage</span>
    <div class='uv-levels'>
      <div class='square'>10</div>
      <div class='square'>15</div>
      <div class='square'>30</div>
      <div class='square'>45</div>
      <div class='square'>60</div>
    </div>
  </div>
  <div id='azumuth'></div>

</main>
