<h1>Sun Dial</h1>
<h2>Please enter your zip</h2>
<form action='/' method='post'>
  <input type="text" id="zip" >
  <input type="submit" id="button">
</form>

<h2>The U.V. index is: </h2>
<h3 id='uv'></h3>
