<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    {{{body}}}
    <script src='/javascripts/axios.js'></script>
    <script src='/javascripts/client.js'></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script src='/javascripts/azimuth.js'></script>
  </body>
</html>
